<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gencode</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div align="center" class="col-md-12">
    <div class="col-md-6" align="center">
        <br />
        <div class="alert alert-success col-md-8" role="alert">
            <span>Processed: </span><span th:text="${objectdto.name}"></span><br/>
        </div>
    </div>

    <div class="col-md-12" align="center">
        <br />
        <label for="repository">Repository :</label>
        <textarea rows="3" type="text" class="form-control" id="repository" th:field="*{objectdto.repositoryContent}"></textarea>
    </div>

    <div class="col-md-12" align="center">
        <br />
        <label for="service">Service :</label>
        <textarea rows="30" type="text" class="form-control" id="service" th:field="*{objectdto.serviceContent}"></textarea>
    </div>

    <div class="col-md-12" align="center">
        <br />
        <label for="domain">Domain :</label>
        <textarea rows="20" type="text" class="form-control" id="domain" th:field="*{objectdto.domainContent}"></textarea>
    </div>

    <div class="col-md-12" align="center">
        <br />
        <label for="controller">Controller :</label>
        <textarea rows="20" type="text" class="form-control" id="controller" th:field="*{objectdto.controllerContent}"></textarea>
    </div>

    <div class="col-md-12" align="center">
        <br />
        <label for="dto">DTO :</label>
        <textarea rows="20" type="text" class="form-control" id="dto" th:field="*{objectdto.dtoContent}"></textarea>
    </div>

    <div class="col-md-12" align="center">
        <br />
        <label for="mapper">Mapper :</label>
        <textarea rows="20" type="text" class="form-control" id="mapper" th:field="*{objectdto.mapperContent}"></textarea>
    </div>

    <br>
    <br>
</div>
</body>
</html>